/* ........................Players.......................................... */
.players {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

.player-1, .player-2 {
    display: flex;
    box-sizing: border-box;
    /* border-radius: 16px; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 31.25rem;
    min-width: 18.75rem;
    width: 50%;
    overflow-wrap: break-word; 
    background-image: radial-gradient(circle, #ffffff, #87CEFA);
}

.current-player {
    box-shadow: 0 0 20px 10px rgba(255, 87, 34, 0.7);
    /* border: 2px solid #ff5722; */
    background: radial-gradient(circle, #ff0000, #ff7d00, #ffbd00);
    padding: 10px 20px;
    border-radius: 16px;
    font-weight: bold;

}


.current {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 15vw;
    height: 10vh;
    border: 0.05rem solid black;
    border-radius: 3rem;
    background-color: rgb(242, 241, 247);
    overflow-wrap: break-word; 
    gap: 2px;
}


/* buttons............................................................ */
.game-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
}

.set-traget-div{
    height: 5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.target-btn[type="number"] {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    
}

.target-btn[type="number"]:focus {
    border-color: #66afe9;
    outline: none;
}

.target-btn[type="number"]:invalid {
    border-color: red;
}

.start-btn {
    background-color: #87CEFA;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border: none;
    color: black;
    border-radius: 0.5rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.start-btn:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.new-game, .roll-dice, .hold {
    border: 0.0625rem solid black;
    border-radius: 0.3125rem;
    background-color: rgb(242, 241, 247);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    padding: 0.625rem;
    text-align: center;
    overflow-wrap: break-word; 
}

.new-game:hover, .roll-dice:hover, .hold:hover {
    background-color: rgb(226, 172, 124);
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.new-game:active, .roll-dice:active, .hold:active {
    transform: translateY(0);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}


.p1Total, .p2Total {
    font-size: 3rem;
}
/* Animation ..................................... */

@keyframes roll {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

.dice-1, .dice-2 {
    width:4rem;
    height: 4rem;
    border: 0.0625rem solid black;
    border-radius: 0.125rem;
    transition: transform 0.6s ease-in-out;
    margin: 0 auto; 
    display: block; 
}

.dice-1.rolling, .dice-2.rolling {
    animation: roll 0.6s ease-in-out;
}

